@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "./theme.css";
@custom-variant dark (&:where(.dark-theme, .dark-theme *));

@theme {
  --color-page-background: var(--color-page-background);
  --color-menubar-background: var(--color-menubar-background);
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --p-card-title-font-weight: 600;
  --page-narrow-width: 800px;
  --page-wide-width: 1100px;
}

.outshort-wide-menubar {
  width: var(--page-wide-width);
}

.outshort-wide-content {
  max-width: var(--page-wide-width);
  width: 100%;
}
