@import "primeicons/primeicons.css";
@import "reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, primeng;

* {
  font-family: "Inter", sans-serif;
}

body {
  --p-card-title-font-weight: 600;
  --content-width: 700px;
}

$outshort-wide-width: 1100px;

.outshort-wide-menubar {
  width: $outshort-wide-width;
}

.outshort-wide-content {
  max-width: $outshort-wide-width;
  width: 100%;
}
