@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "./theme.css";
@custom-variant dark (&:where(.dark-theme, .dark-theme *));

@theme {
  --color-contrast-bg: var(--color-contrast-bg);
  --color-header: var(--color-header);
  --color-main-text: var(--color-main-text);
  --color-secondary-text: var(--color-secondary-text);
}

* {
  font-family: "Inter", sans-serif;
}

body {
  --p-card-title-font-weight: 600;
  --content-width: 700px;
  --outshort-wide-width: 1100px;
}

.outshort-wide-menubar {
  width: var(--outshort-wide-width);
}

.outshort-wide-content {
  max-width: var(--outshort-wide-width);
  width: 100%;
}

.common-card {
  background-color: var(--color-contrast-bg);
  color: var(--color-main-text);

  .p-card-title {
    color: var(--color-header);
  }
  .p-card-subtitle {
    color: var(--color-secondary-text);
  }
}
