:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-page-background);

  .page-wrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
