:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background-100);

  .page-wrapper {
    padding-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: var(--content-width);
  }

  .full-width {
    width: 100%;
  }
}
