<div class="container">
  <p-menubar [model]="menuItems">
    <ng-template #start>
      <span class="logo">Outshort</span>
    </ng-template>
    <ng-template #end>
      <p-button label="Sign up" variant="outlined" size="small" />
    </ng-template>
  </p-menubar>
  <p-card header="Welcome to Outshort!" class="intro-card">
    <p class="m-0">
      Outshort is a simple, open-source, self-hosted URL shortener that makes
      long links short, clean, and easy to share. Customize links, track clicks,
      and stay in control of your data!
    </p>
    <ng-template #footer>
      <div class="flex items-center gap-4 mt-1 text-muted-color">
        <p-button label="Sign up" />
        <span>Sign up and manage your links</span>
      </div>
    </ng-template>
  </p-card>
  <p-card header="Enter your long link below">
    <ng-template #subtitle>Make your link shorter</ng-template>
    <div>
      <div class="flex flex-row gap-2 mt-1">
        <input
          pInputText
          [(ngModel)]="originalUrl"
          placeholder="https://example.com"
        />
        <p-button
          icon="pi pi-reply"
          severity="warn"
          label="Shorten"
          (onClick)="onShortenClicked()"
          [disabled]="processing()"
        ></p-button>
      </div>
    </div>
  </p-card>

  @if (shortLink().trim().length > 0) {
  <p-card header="Short link">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Last</p-tab>
        <p-tab value="1">History</p-tab>
      </p-tablist>
      <p-tabpanels class="p-5">
        <p-tabpanel value="0" class="p-0 m-0">
          <p class="m-0 text-secondary text-muted-color">
            Here's your short link. You can share it anywhere.
          </p>
          <div class="flex flex-row gap-2 mt-3">
            <input pInputText [(ngModel)]="shortLink" [readOnly]="true" />
            <p-button
              icon="pi pi-clone"
              severity="success"
              label="Copy"
            ></p-button>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p class="m-0">TODO</p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>
  }
</div>
