<div class="container">
  <p-menubar [model]="menuItems">
    <ng-template #start>
      <span class="logo">Outshort</span>
    </ng-template>
  </p-menubar>
  <p-card header="Outshort" class="intro-card">
    <p class="m-0">
      Outshort is a simple, open-source, self-hosted URL shortener that makes
      long links short, clean, and easy to share. Customize links, track clicks,
      and stay in control of your data!
    </p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button label="Sign in" />
      </div>
    </ng-template>
  </p-card>
  <h1>Outshort</h1>
  <p>
    dolor culpa sed debitis quibusdam non, excepturi, ea consequatur natus
    facilis mollitia tempore itaque pariatur sit, aperiam perferendis
    repudiandae odit nulla adipisci assumenda eos fuga! Officiis dolore debitis
    in.
  </p>
  <br />
  <div class="input-container">
    <label for="url-input">Enter your url here</label>
    <div>
      <input id="url-input" type="text" [(ngModel)]="originalUrl" />
      <button (click)="onShortenClicked()" [disabled]="processing()">
        Shorten
      </button>
    </div>
  </div>
  <br />
  <div class="input-container">
    <label for="short-url">Short url</label>
    <input
      id="short-url"
      type="text"
      [(ngModel)]="shortLink"
      [style]="{ width: '16rem' }"
    />
  </div>
  <br />
  <div class="card flex justify-center">
    <p-button label="Check" />
  </div>
</div>
